/*

Name:			Core
Description: 	Core stylesheet
Author:			Sean O'Sullivan
Version:		2020-06-27

*/

body, html {
    margin: 0;
    height: 100%;
}

#container_background {
    margin: auto;
    width: 100%;
    min-height: 100%;
}

#container_weblingcontent {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    height: 80%;
    width: 80%;
    min-width: 200px;
    min-height: 200px;
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
    box-sizing: border-box;
    z-index: 100;
    text-align: center;
    opacity: 0.9;
}

#container_weblingcontent_image {
    position: relative;
    left: 50%;
    top: 44%;
    transform: translate(-50%, -44%);
}

#container_weblingcontent_image img {
    width: 360px;
    height: 360px;
}

#container_weblingcontent_mouthpiece {
    padding-bottom: 0px;
    font-size: 36px;
    padding-top: 0px;
    padding-left: 22px;
    padding-right: 22px;
    font-family: 'Nunito', sans-serif;
}

#container_options_header {
    margin: 0 auto;
    background-color: #ffffff;
    height: 62px;
    color: #000;
    width: 100%;
    margin-bottom: 30px;
}

#container_options_header h2 {
    margin: 0;
    padding-top: 14px;
    font-family: 'Nunito', sans-serif;
    font-size: 26px;
    padding-left: 86px;
}

#container_options_content {
    background-color: #fff;
    width: 80%;
    min-width: 200px;
    min-height: 200px;
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
    box-sizing: border-box;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
}

#container_options_content h3 {
    margin: 10px 0px 0px 0px;
    padding: 14px;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

#container_options_content p {
    padding: 14px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}

#container_options_content img {
    padding: 10px;
}

.dropdownstyle select {
    border-radius: 4px;
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
    padding: 4px;
}

.button_options_save {
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
    padding: 4px;
    min-width: 70px;
}