/*

Name:			Fonts
Description: 	Embdedded font files used within Weblings
Author:			Sean O'Sullivan
Version:		2020-06-27

*/

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/nunito/Nunito-Regular.ttf') format('woff2');
    font-style: normal;
}